@{
    ViewData["Title"] = "Объявления";
}

<main>
    <div class="container border-dark">
        <div class="row">
            <div class="col-3">
                <div class="mb-1">
                    <h1 class="h1 text-center" style="color: rgb(0,123,255);">Фильтры</h1>
                </div>
                <div class="mb-1">
                    <label class="form-label">Цена от:</label>
                    <input class="form-control">
                </div>
                <div class="mb-1">
                    <label class="form-label">Цена до:</label>
                    <input class="form-control">
                </div>
                <div class="mb-1">
                    <label class="form-label">Город:</label>
                    <input class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Категория:</label>
                    <select class="form-control" aria-label="Default select example">
                        <option selected>Личные вещи</option>
                        <option value="1">Транспорт</option>
                        <option value="2">Электроника</option>
                        <option value="3">Недвижимость</option>
                    </select>
                </div>
                <div class="row mb-3 ">
                    <div class="col-6 form-check text-center">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Куплю
                        </label>
                    </div>
                    <div class="col-6 form-check text-center">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Продам
                        </label>
                    </div>
                </div>
                <div class="mb-2 text-center">
                    <button type="button" class="btn btn-outline-primary">Применить фильтры</button>
                </div>
            </div>

            <div class="col-9">
                <div class="row mb-2">
                    <div class="col-4">
                        <img src="/Images/auto-1.jpg" class="img-thumbnail img-fluid" alt="">
                        <h5 class="h5">AE 86 Trueno</h5>
                        <h5 class="h5">1500000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                    <div class="col-4">
                        <img src="/Images/auto-2.jpg" class="img-thumbnail img-fluid" alt="">
                        <h5 class="h5">Япошка</h5>
                        <h5 class="h5">1000000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                    <div class="col-4">
                        <img src="/Images/auto-3.jpg" class="img-thumbnail img-fluid" alt="">
                        <h5 class="h5">Бричка</h5>
                        <h5 class="h5">900000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <img src="/Images/auto-4.jpg" class="img-thumbnail img-fluid" alt="">
                        <a href="PostPage.html"><h5 class="h5">Supra</h5></a>
                        <h5 class="h5">3000000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                    <div class="col-4">
                        <img src="/Images/auto-1.jpg" class="img-thumbnail img-fluid" alt="">
                        <h5 class="h5">AE 86 Trueno</h5>
                        <h5 class="h5">1500000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                    <div class="col-4">
                        <img src="/Images/auto-6.jpg" class="img-thumbnail img-fluid" alt="">
                        <h5 class="h5">Автомобиль</h5>
                        <h5 class="h5">2000000 ₽</h5>
                        <h5 class="h5">Казань</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>