@{
    ViewData["Title"] = "Авторизация";
}

<main>
	<div class="container col-md-6 mx-auto">
		<div class="row justify-content-center">
			<form>
				<h1>Авторизация</h1>
				<div class="form-group my-3" >
					<input type="text" placeholder="Введите логин..." class="form-control" id="login" name="login" required />
				</div>
				<div class="form-group my-3">
					<input type="password" placeholder="Введите пароль..." class="form-control" id="password" name="password" required />
				</div>
				<div class="container">
					<div class="row">
						<button type="submit" class="btn btn-dark text-light bg-dark col mx-1" asp-area="" asp-controller="AuthorizationPage" asp-action="Authorization">Войти</button>
						<a class="btn btn-dark text-light bg-dark col mx-1" asp-area="" asp-controller="Home" asp-action="RegistrationPage">Зарегистрироваться</a>
						<a class="btn btn-dark text-light bg-dark col mx-1" asp-area="" asp-controller="Home" asp-action="RecoveryPasswordPage">Забыл пароль</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>