@{
    ViewData["Title"] = "Профиль";
}

<main>
    <div class="container border-dark">
        <div class="row">
            <div class="col-3">
                <div class="mb-2 text-center ">
                    <img src="/Images/person.jpg" class="img-thumbnail img-fluid mb-2" alt="">
                    <button type="button" class="btn btn-outline-primary">Добавить фото</button>
                </div>
            </div>

            <div class="col-9">
                <div class="mb-1">
                    <label class="form-label">Никнейм:</label>
                    <input class="form-control" value="Васян">
                </div>
                <div class="mb-1">
                    <label class="form-label">Номер телефона:</label>
                    <input class="form-control" value="+78005553535">
                </div>
                <div class="mb-1">
                    <label class="form-label">Почта:</label>
                    <input class="form-control" value="vasya.koresh@mail.ru">
                </div>
                <div class="mb-1">
                    <label class="form-label">Дата рождения:</label>
                    <input class="form-control" value="24.08.2001">
                </div>
                <div class="mb-1">
                    <label class="form-label">Город:</label>
                    <input class="form-control" value="Казань">
                </div>
                <div class="row">
                    <div class="col-6 text-center d-grid gap-2 mx-auto">
                        <button type="button" class="btn btn-outline-primary btn-block">Сохранить изменения</button>
                    </div>
                    <div class="col-6 text-center d-grid gap-2 mx-auto">
                        <button type="button" class="btn btn-outline-primary btn-block">Сбросить изменения</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>