@{
    ViewData["Title"] = "Профиль";
}

<main>
    <div class="container border-dark">
        <div class="row">
            <div class="col-3">
                <div class="mb-2 text-center ">
                    <img src="/drawable/icon_image_person.png" class="img-thumbnail img-fluid mb-2" height="400" width="400" alt="">
                </div>
            </div>

            <div class="col-9">
                <div class="container">
                    <div class="mb-1 row">
                        <label class="lblperson">Никнейм</label>
                    </div>
                    <div class="mb-1 row">
                        <label class="lblperson">99 Лет</label>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_phone.png" />
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">+79373669868</label>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_mail.png" />
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">misha.safronov.02.12@mail.ru</label>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_map_location.png" />
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">Казань</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center d-grid gap-2 mx-auto">
                <button type="button" class="btn btn-outline-primary btn-block" onclick="location.href='@Url.Action("EditingProfilePage", "Home")'">Редактировать профиль</button>
            </div>
            <div class="col-9"></div>
        </div>
    </div>
</main>