@{
    ViewData["Title"] = "Восстановление пароля";
}

<main>
	<div class="container col-md-6 mx-auto">
		<div class="row justify-content-center">
			<form>
				<h1>Восстановление пароля</h1>
				<div class="form-group my-3" >
					<input type="text" placeholder="Введите логин..." class="form-control" id="login" name="login" required />
				</div>
				<div class="container">
					<div class="row">
						<button type="submit" class="btn btn-dark text-light bg-dark col mx-1" asp-area="" asp-controller="AuthorizationPage" asp-action="Recovery">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>