html {
  font-size: 14px;


}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.lblperson{
    font-size:30px;
}

.btn-dark:focus,
.btn-dark:active,
.btn-dark:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    outline-color: black;
}

.form-check-input-dark:checked {
    background-color: black;
    border-color: black;
}

.form-check-input-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    outline-color: black;
}

.tile {
    width: 297px; /* Ширина блока */
    height: 200px; /* Высота блока */
    border: 1px solid #ccc; /* Рамка блока */
    overflow: hidden; /* Ограничение содержимого внутри блока */
}